<html lang="en">
  <head>

    <title>RIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body ng-app="InventoryApp" ng-controller="InventoryCtrl" ng-cloak>

    <md-toolbar accent>
      <div class="md-toolbar-tools">
        <a ng-show="mode == 'list'" href="index.html">
          <md-button class="md-icon-button" aria-label="Back">
            <md-icon>arrow_back</md-icon>
          </md-button>
        </a>
        <md-button ng-show="mode != 'list'" class="md-icon-button" aria-label="Cancel"
          ng-click="mode = 'list'">
          <md-icon>close</md-icon>
        </md-button>
        <h2>
          <span ng-show="mode == 'list'">Inventory</span>
          <span ng-show="mode == 'add'">Add new item</span>
          <span ng-show="mode == 'edit'">Edit an item</span>
        </h2>
        <span flex></span>
        <md-button ng-show="mode != 'add'" class="md-icon-button" aria-label="New"
          ng-click="mode = 'add'">
          <md-icon>add</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content ng-show="mode == 'list'" class="md-padding" layout-xs="column"
      layout="row" style="overflow:auto">
      <md-list ng-cloak flex>
        <md-list-item ng-repeat="Item in RackItem | orderBy:'Model'" ng-click="viewRackItem(Item, $event)">
          <p><b>{{ Item.Model }}</b> {{ Item.AssetTag }}</p>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>

    <md-content ng-show="mode == 'add'" class="md-padding">
      <form ng-submit="newRackItem()">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Model</label>
          <input ng-model="RackItemNew.Model">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Associated RU</label>
          <input ng-model="RackItemNew.AssociatedRU">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Label</label>
          <input ng-model="RackItemNew.Label">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Asset Tag</label>
          <input ng-model="RackItemNew.AssetTag">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Serial Number</label>
          <input ng-model="RackItemNew.SN">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Description</label>
          <input ng-model="RackItemNew.Description">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Direction</label>
          <md-select ng-model="RackItemNew.Direction">
            <md-option ng-disabled><em>None</em></md-option>
            <md-option ng-repeat="direction in ['Front', 'Back']" value="direction">
              {{ direction }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Location</label>
          <input ng-model="RackItemNew.Location">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>System Power</label>
          <input ng-model="RackItemNew.SystemPower"
          ng-pattern="/^[0-9]*(\.[0-9]+)?$/">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Heat Dissipation</label>
          <input ng-model="RackItemNew.HeatDissipation" ng-pattern="/^[0-9]*(\.[0-9]+)?$/">
          <div ng-messages=""
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Plugs</label>
          <input ng-model="RackItemNew.Plugs">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Ports</label>
          <input ng-model="RackItemNew.Ports">
        </md-input-container>
        <md-button type="submit">Add item</md-button>
      </form>
    </md-content>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>

    <!-- Your application bootstrap  -->
    <script src="index.js"></script>

    <script src="inventory.js"></script>

    <style>
      md-list-item {
        background: white;
      }
    </style>

  </body>
</html>
