<!DOCTYPE html>
<html>
<body>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">


  </head>

  <body ng-app="RackinApp" ng-cloak>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Rack Inventory Management</span>
        </h2>
        <span flex></span>
        <a href="index.html"> <md-button class="md-raised" aria-label="Home" >Home</md-button></a>
      </div>
    </md-toolbar>
    
    <md-toolbar layou="row" class="md-hue-3">
    	<div class="md-toolbar-tools">
    <span>Models</span>
    	</div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Vendor</md-subheader>
    

    <md-list ng-controller="ModelCtrl" ng-cloak>
    	<md-list-item class="secondary-button-padding" ng-click="console.log("Hello")" ng-repeat="model in Model">
    		<p>{{model.Vendor}}</p><p>{{model.Model}}</p><p>{{model.Category}}</p><p>{{model.HeatDissipation}}</p><p>{{model.Systemower}}</p>
    	</md-list-item>		
    </md-list>

    <fielset>
    <button type="button" ng-click="addModel()">Add Person</button>
    </fielset>
    <!--tr ng-repeat="model in Model">
    	<td>
    	{{model.Vendor}}	
    	</td>
    	<td>
    	{{model.Model}}	
    	</td>
    	<td>
    	{{model.Category}}	
    	</td>
    	<td>
    	{{model.HeatDissipation}}	
    	</td>
    	<td>
    	{{model.Systemower}}	
    	</td>
    </tr-->

   

    <md-content class="md-padding" layout-xs="column" layout="row">
     <table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
            {{user.age}}</td>
    </tr>
	</table>

    </md-content>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>




    <!-- Your application bootstrap  -->
    <script src="index.js"></script>

    <script type="text/javascript">
      app.controller("ModelCtrl",
          function($scope, $firebaseArray) {
            var ref = firebase.database().ref().child("Model");
            $scope.Model = $firebaseArray(ref);
            $scope.addModel = function(){
            	$scope.Model.$add({
           	Vendor: $scope.Vendor,
           	Model: $scope.Model,
           	Category: $scope.Category,
           	HeatDissipation: $scope.HeatDissipation,
           	Systemower: $scope.Systemower,
            });
            $scope.Model.push(model);
          });
  };
    </script>

    <script>
    	var self = this;
    	var data = [{name: "O. MR", age: 25} /*,*/];
		self.tableParams = new NgTableParams({}, { dataset: data});
    </script>


</body>
</html>

