<!DOCTYPE html>
<html>
<body>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

     <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
     <link rel="stylesheet" href="style.css" />

    <link rel="styleSheet" href="release/ui-grid.min.css"/>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body ng-app="RackinApp" ng-cloak>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Rack Inventory Management</span>
        </h2>
        <span flex></span>
        <a href="index.html"> <md-button class="md-raised" aria-label="Home">Home</md-button></a>
      </div>
    </md-toolbar>
    
    <md-toolbar layou="row" class="md-hue-3">
    	<!--div class="md-toolbar-tools">
    	</div-->
    </md-toolbar>
    <md-button ng-show="mode != 'add'" class="md-icon-button" aria-label="New"
          ng-click="mode = 'add'">
          <md-icon>add</md-icon>
        </md-button>
     <md-button ng-show="mode != 'list'" class="md-icon-button" aria-label="New"
          ng-click="mode = 'list'">
          <md-icon>arrow_back</md-icon>
        </md-button>

        <md-content ng-show="mode == 'list'" class="md-padding" layout-xs="column"
      layout="row" style="overflow:auto">
     <body ng-controller="ModelCtrl">
    <h3>Models</h3>
    <!--button type="button" ng-click="addItem(model)" class="btn btn-sm btn-success">
            <i class="glyphicon glyphicon-plus">
            </i> Add Entry
    </button-->
    <table st-table="Model" class="table table-striped">
        <thead>
          <tr>
              <th st-sort="Vendor">Vendor</th>
              <th st-sort="Model">Model</th>
              <th st-sort="Category">Category</th>
              <th st-sort="HeatDissipation">HeatDissipation</th>
            <th st-sort="Systemower">Systemower</th>
            <th></th>
        </tr>
        </thead>
        <th colspan="6"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        <tbody>
        <tr ng-repeat="model in Model">
            <td>{{model.Vendor}}</td>
            <td>{{model.Model}}</td>
            <td>{{model.Category}}</td>
            <td>{{model.HeatDissipation}}</td>
            <td>{{model.Systemower}}</td>
            <td><md-button class="md-icon-button" ng-click="Model.$remove(model)">
             <md-icon>delete</md-icon></md-button>       
            </td>
        </tr>
        </tbody>
    </table>
  </body>
  </md-content>


 <md-content ng-show="mode == 'add'" class="md-padding">
      <form ng-submit="newVendorItem()">
         <md-input-container class="md-block" flex-gt-xs>
          <label>Vendor</label>
          <input ng-model="ModelItemNew.Vendor">
        </md-input-container>
         <md-input-container class="md-block" flex-gt-xs>
          <label>Model</label>
          <input ng-model="ModelItemNew.Model">
        </md-input-container>
         <md-input-container class="md-block" flex-gt-xs>
          <label>Category</label>
          <input ng-model="ModelItemNew.Category">
        </md-input-container>
         <md-input-container class="md-block" flex-gt-xs>
          <label>HeatDissipation</label>
          <input ng-model="ModelItemNew.HeatDissipation">
        </md-input-container>
         <md-input-container class="md-block" flex-gt-xs>
          <label>Systemower</label>
          <input ng-model="ModelItemNew.Systemower">
        </md-input-container>
        <md-button type="submit">Add item</md-button>
     </form>
</md-content> 



    <md-content class="md-padding" layout-xs="column" layout="row">

    </md-content>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

   

     <script src="lrInfiniteScrollPlugin.js"></script>
     
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>



    <!-- Your application bootstrap  -->
    <script src="index.js"></script>

    <script type="text/javascript">
      app.controller("ModelCtrl",
          function($scope, $firebaseArray) {
            var ref = firebase.database().ref().child("Model");
            $scope.Model = $firebaseArray(ref);
            $scope.mode = 'list';
        $scope.ModelItemNew = null;
        $scope.newVendorItem = function(){
            console.log($scope.ModelItemNew);
            $scope.Model.$add($scope.ModelItemNew);
            $scope.mode = 'list';
        };

          });

    </script>
    
</body>
</html>

